[submodule "u-boot"]
	path = u-boot
	url = git@github.com:u-boot/u-boot.git
[submodule "linux-stable"]
	path = linux-stable
	url = git://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
